/* CSS Document for Screens */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);

body{ font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;} 

#page { max-width: 1200px; margin: auto; position: relative;}

/* Text */

h1{ margin: 0 0 1em; font-size: 2.8em; font-weight: 700;} /* top right bottom left*/
h2{ margin: 0 0 0.5em; font-size: 1.6em; font-weight: 700; line-height: 1.1em} /* top right bottom left*/
h3{ margin: 0 0 0.5em; font-size: 1.3em; font-weight: 700;} /* top right bottom left*/
h4{ margin: 0 0 1.5em; font-size: 1em; font-weight: 700;} /* top right bottom left*/

p { margin: 0 0 1em 0;}

a { color: #007eff;}
a:visited { color: #65b1ff;}

a.btn:hover { background-color: rgba(0, 0, 0, .3);} 

a.btn { 
    font-size: 1.2em; 
    text-decoration: none; 
    color: #fff; 
    border: 1px solid #fff; /* width, style, color */
    padding: 4px 15px;
    transition: background-color .5s;
}

/*header */
header { 
    height: 430px; 
    background: #cf0004 url(../../images/banner_1200.jpg) no-repeat center bottom; 
    position: relative;
}

header a.logo { 
    position: absolute; 
    display: block; width: 160px; height: 66px;
    background: url(../../images/logo.svg) no-repeat 0 0; background-size: contain;
    top: 15px; left: 20px;
}

header a.logo span { display: none;}

header div.hero { position: absolute; width: 42%; top: 130px; left: 55%;}

header div.hero h1 { line-height: 1em; margin: 0 0 30px 0; color: #fff;}